<div class="container-fluid">
  <div class="container-main">
    <div class="image_container">
        <img  class="logo" src="../../assets/bio.PNG" alt="logoBioGatrana">
    </div>
      <div>

        <form class="form-login">
          <div class="form-group">
            <label for="Non d'utilisatuer">Non d'utilisatuer</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Mot de passe</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>

         <div class="btn-container">
            <button class="btn-submit" type="submit" class="btn btn-primary">Submit</button>
         </div>
        </form>



      </div>



    <div>

    </div>

  </div>
</div>
